{% extends 'portfolio/base.html' %}
{% block content %}
    <h1>Blogs</h1>
    <h2>Jose has written {{blogs.count}} blog{{blogs.count|pluralize}}</h2>
    {% for blog in blogs %}
    <div class="card w-50">
        <div class="card-body">
            <div class="card-title">
                <a href="{% url 'blog:detail' blog.id %}" target="_blank"><h2>{{blog.title}}</h2></a>
                
            </div>
            <div class="card-subtitle">
                <span>{{blog.date}}</span>
            </div>
            <div class="card-text">
                <span>{{blog.description}}</span>
            </div>
        </div>
    </div>
    <br>
    <br>
    {%endfor%}
{% endblock %}